@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');


:root{
   --primary-color:#C0C0C0;
   --secondary-color:#111827;
   --third-color:#374151;
}
body{
   /* background-color: var(--secondary-color); */
   font-family: 'Besley', serif;
   margin:0px;
}


.b-example-divider {
   height: 3rem;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
 }
 #button:hover
 {
  background-color:red;
  
 }
 .input
 {
    border:0.1px solid white;
    background-color: transparent;
    border-radius:0.5rem;
    padding:0.5rem;
    color:white;
    font-weight:bold;
    
 }
 #button
 {
    border:0.1px solid red;
    font-weight:bold;
    border-radius:0.5rem;
    background-color:transparent;
    
    color:white;
 }



 .bi {
   vertical-align: -.125em;
   fill: currentColor;
 }
 .space
 {
    padding-right:10rem;
    /* text-align: center; */
 }

.div-help 
{
   padding-inline-start: 0px;

}
/* design */

.design {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.design svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 102px;
   transform: rotateY(180deg);
}

.design .shape-fill {
   fill: #FFFFFF;
}







 /* footer */
.footer-div {
   padding-inline-start: 0px;
   background-color:black;
   /* padding-right:0;
   padding-left:0; */
  max-width:100%;
  display:flex;
  flex-direction:column;
 
}


 /* .footer {
   background-color:var(--primary-color);
   padding:1rem 1rem;
   color:white;
   text-align:center;
   border-top-right-radius: 1rem;
} */
.footer .link{
  color:var(--blue-color);
  font-weight:bold;

}
.footer .list-inline
{
   display:inline;
}

.footer ul{
   padding-inline-start: 0px;
}
.footer .footer-header 
{
font-weight:bold;
font-size:large;
}

/* lists */


.list-non-bullet {
   list-style: none;
}

.list-inline {
   display: inline;
   padding: 0rem 1rem;
}
.container-social {
   text-align:center;
   margin:auto;
   display:block;
}

