
#feature h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
}

#feature .row {
  padding: 2% 4% 2% 4%;
}

#feature .card {
  background-color: #D5D5D5;
  padding: 15%;
  margin: 3%;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  /* border-color: rgba(165,165,165,0); */
  box-shadow: 19.799px 19.799px 40px 0px rgb(0 0 0 / 5%);
}

#feature .card:hover {
  border-width: 0px 0px 4px 0px;
}

#feature .card h4 {
  padding-bottom: 15%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
#feature p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
/* Carousel base class */
#review .carousel {
  padding: 10% 20% 0% 20%;
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
#review .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
#review .carousel-item {
  height: 20rem;
}

#review p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

#review h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

#review .carousel img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  align-content: center;
}


#consult{
  margin: 5%;
}

 #consult h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;

  text-align: left;
  padding-bottom: 3%;
}

#consult input{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  /* padding-left: 10%; */
  /* padding-right: 10 */
}

#consult #message{
  height: 100px;
  /* padding-left: 10%; */
  /* padding-right: 10 */
}

#consult img{
  width: 100%;
  height: 400px;

}
#consult .row{
  padding: 0;
}


/* -----------shop--------------- */

#shop{
  margin-top: 5%;

}

 #shop img{
  width: 100%;
  height: 500px;
}


/* ------------------shop-card------------- */
#shop-card{
  margin-top: 5%;
}

#shop-card h1{
  margin-top: 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
}

#shop-card h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

#shop-card p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

#shop-card .container {
  position: relative;
   width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

#shop-card .container .card{
  max-width: 290px;
  height: 420px;
  height: 215px;
  background: #fff;
  margin: 100px 10px;
  padding: 20px 15px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

#shop-card .container .card:hover{
  height: 520px;
}

#shop-card .card .imgBx{
  position: relative;
  background: #fff;
  top:-60px;
  left: 20px;
  min-width: initial;
  width: 200px;
  /* height: 180px; */
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

#shop-card .container .card .imgBx img{
  max-width: 100%;
  border-radius: 14px;
  height: 100%;
}

#shop-card .container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility:hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 0s

}

#shop-card .container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
  padding-bottom: 1px;
}

/* ---shop payment option------ */

#transac-card{
  background-color: black;
}
#transac-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
#transac-card img{
  height: 100px;
  width: 400px;
}


/* -----------------about------------------ */

#top{
  text-align: center;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  color: white;
  padding-bottom: 5%;

}
#top .box{
  width: 600px;
  margin: auto;
  text-align: left;

}
#top .box h2{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 2%;
}
#top .box h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
}
#top img{
  border-radius: 50%;
  width: 300px;

}
#body-1{
  margin-top: 100px;
  margin-bottom: 100px;
}
#body-1 h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 1%;

}

#body-1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 1%;

}
#body-1 img{
  width: 350px;
  height: 600px;
}

#body-2 {
  padding-top: 5%;
}

#body-2 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;

}
#body-2 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  padding-top: 5%;
}

#body-2 h2{

  width: 450px;
  margin-left: 100px;
}

#body-2 img{
  width: 450px;
  margin-left: 100px;
}

#body-3{
  background-color: black;
  padding: 10% 0%;
  color: white;
}

#body-3 img{
  width: 100%;
  padding-bottom: 4%;
}

#body-3 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  padding-bottom: 2%;
  padding: 0% 20%;
}
#body-3 p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 0% 20%;
}



/* FAQ */
