/* Omkar */
.nav-container {
  background-color: blue;
  border-bottom-left-radius: 1.8rem;
}

.navbar {
  padding: 0;
}

.navigation-section {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  background: black;
  padding-top: 10%;
  margin-bottom: 15%;
}

.navigation-section::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 60%;
  height: 55%;
  transform: translate(66.5%, 80%);
  background-color: black;
}

.navigation-section::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 70%;
  background-color: black;
  transform: translate(-9%, 40%);
  z-index: -1;
}

.top-container {
  padding: 3% 4% 3% 4%;
}

.navbar-brand {
  font-size: 3rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0.5rem;
}

.mydropdowncss:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.btn-danger {
  background-color: blue;
  box-shadow: none;
  border-color: white;
}

.btn-danger:hover {
  background-color: red;
  box-shadow: none;
  border-color: white;
}

/* #3c31dd */
.big-heading {
  /* font-family: cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: left;
  padding-right: 6%;
  font-size: 2.6rem;
}

.title-image {
  border-radius: 2rem;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  padding-left: 5%;

}

.title-image:hover {
  transition: 0.9s;
  transform: rotateY(180deg);
}

/* Product Details */
.product-image{
  border-radius: 2rem;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:0; top:0;}
  50%  {left:0; top:2rem;}
  100% {left:0; top:0;}
}


.product-name{
  font-size: 30px;
  font-weight: bold;
}
.product-details{
  color: #fff;
    background: black;
    padding-top: 10%;
}
.product-container{
  padding: 3% 5% 1%;
}

.cart-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 0px 1px 0px #666666;
  -webkit-box-shadow: 0px 0px 2px #666666;
  -moz-box-shadow: 0px 0px 2px #666666;
  box-shadow: 0px 0px 2px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: #000;
  padding: 10px 40px 10px 40px;
  border: solid #fff 3px;
  text-decoration: none;
}

.cart-btn:hover {
  background: #000;
  text-decoration: none;

}
.buy-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 0px 1px 0px #000;
  -webkit-box-shadow: 0px 0px 2px #666666;
  -moz-box-shadow: 0px 0px 2px #666666;
  box-shadow: 0px 0px 2px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: #fa0a0a;
  padding: 10px 40px 10px 40px;
  border: solid #f70a0a 3px;
  text-decoration: none;
  margin: auto 5%;
}

.buy-btn:hover {
  background: #fa0808;
  text-decoration: none;
}
.img-strip{
  background-color: #2C2C2C;
  text-align: right;
}
