/* Omkar */
.nav-container {
  background-color: blue;
  border-bottom-left-radius: 1.8rem;
}

.navbar {
  padding: 0;
}

.navigation-section {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  background: black;
  padding-top: 10%;
  margin-bottom: 15%;
}

.navigation-section::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 60%;
  height: 55%;
  transform: translate(66.5%, 80%);
  background-color: black;
}

.navigation-section::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 70%;
  background-color: black;
  transform: translate(-9%, 40%);
  z-index: -1;
}

.top-container {
  padding: 3% 10%;
}

.navbar-brand {
  font-size: 3rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0.5rem;
}

.mydropdowncss:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.btn-danger {
  background-color: blue;
  box-shadow: none;
  border-color: white;
}

.btn-danger:hover {
  background-color: red;
  box-shadow: none;
  border-color: white;
}

/* #3c31dd */
.big-heading {
  font-family: cursive;
}

.title-image {
  border-radius: 2rem;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.title-image:hover {
  transition: 0.9s;
  transform: rotateY(180deg);
}
